@charset "utf-8";
/*
Author: Dominic Torres
Date: 11/6/19
*/

/*html styles and body styles*/
body{
    margin: 30px;
    background: linear-gradient(to left rgb(92, 31, 31), rgb(204, 118, 92));
    width: auto;
    height: 100%;
}

html{
  background: radial-gradient(rgb(255, 255, 255), rgb(69, 147, 184));
  width: 100%;
  height: auto;  
}

footer{
    display: block;
    text-align: center;
    background:white;
}

/*header styles*/
header h1{
    text-shadow: rgb(221, 221, 221) 1px 1px 0px,
    rgba(41, 41, 41, 0.9) 5px 5px 20px;
    text-align: center;
}


/*div class boxes styles*/
nav div.boxes{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background: linear-gradient(to left rgb(92, 31, 31), rgb(204, 118, 92));
    text-align: center;
    display: block;
}

nav div.boxes{
    clear: both;
    content: "";
    display: absolute;
}

/*div a styles*/
div.aboutme{
    background-color: rgba(147, 161, 158, 0.884);
    color: rgb(240, 74, 74);
    border-radius: 5px;
    padding: 20px;
    font-size: 160%;
    margin-left: 200px;
    margin-right: 200px;
}

a:visited, nav a:link{
    text-decoration: none;
}


div.recentwork{
    background-color: rgba(147, 161, 158, 0.884);
    color: rgb(240, 74, 74);
    border-radius: 5px;
    padding: 20px;
    font-size: 160%;
    margin-left: 200px;
    margin-right: 200px;
}

div.skills{
    background-color: rgba(147, 161, 158, 0.884);
    color: rgb(240, 74, 74);
    border-radius: 5px;
    padding: 20px;
    font-size: 160%;
    margin-left: 200px;
    margin-right: 200px;
}

div.contact{
    background-color: rgba(147, 161, 158, 0.884);
    color: rgb(240, 74, 74);
    border-radius: 5px;
    padding: 20px;
    font-size: 160%;
    margin-left: 200px;
    margin-right: 200px;
}
/*Box shadows*/
body{
    box-shadow: rgb(0,0,0) 15px 0px 15px,
    rgb(0,0,0) -15px 0px 15px;
}




