@charset "utf-8";
/*
Author: Dominic Torres
Date: 11/6/19
*/

/*html styles and body styles*/
body{
    margin: 40px;
    background-color: rgb(255, 228, 154);
}

/*header styles*/



/*div class boxes styles*/
nav div.boxes{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: rgb(255, 228, 154);
    color: rgb(70, 70, 70);
    text-align: center;
    display: block;
}

nav div.boxes{
    clear: both;
    content: "";
    display: absolute;
}

/*div a styles*/
div.aboutme{
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

div.recentwork{
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

div.skills{
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

div.contact{
    background-color: rgb(70, 70, 70);
    color: white;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
/*Box shadows*/





